<!-- ADDING BOOK MODAL -->

    <div class="row">

        <!-- INPUT FROM USER FOR SELECTED BOOK -->

        <div class="col-5 offset-4" id="profileModalFormat">
            <div class="row">
                <div class="col-8">
                    <h4 id="isbn-title">Search By ISBN Number</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <input id="isbn-val" type="text" placeholder="ISBN Number">
                    <button type="submit" id="isbn-submit">Submit</button>
                </div>
            </div>

            <!-- OUTPUT FROM AJAX FOR SELECTED BOOK -->

            <div class="row">
                <div class="col-2" class="ajax-info-add">
                    <img id="addImgFormat" src="../assets/images/add-book-placeholder.jpg">
                </div>
                <div class="col-8 offset-2">
                    <h5 class="ajax-info" id="ajax-title"></h5>
                    <h5 class="ajax-info" id="ajax-author"></h5>
                    <h5 class="ajax-info" id="ajax-year"></h5>
                    <button type="submit" id="add-book">Confirm Book</button>
                </div>
            </div>
        </div>
    </div>