<!-- ADDING BOOK MODAL -->

    <div class="row">

        <!-- INPUT FROM USER FOR SELECTED BOOK -->

        <div class="col-12" id="profileModalFormat">
            <div class="row">
                <div class="col-12" >
                    <p class="closeX">&#10006</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4 id="isbn-title">Search Your Book's ISBN Number</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input id="isbn-val" type="text" placeholder="ISBN Number">
                    <button type="submit" id="isbn-submit">Submit</button>
                </div>
            </div>

            <!-- OUTPUT FROM AJAX FOR SELECTED BOOK -->

            <div class="row">
                <div class="col-4" class="ajax-info-add">
                    <img id="addImgFormat" src="../../assets/images/add-book-placeholder.jpg">
                    
                </div>
                <div class="col-8 ">
                    <h5 class="ajax-info" id="ajax-title"></h5>
                    <h5 class="ajax-info" id="ajax-author"></h5>
                    <h5 class="ajax-info" id="ajax-year"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="confirm">
                    <button type="submit" id="confirm-button">Add</button>
                </div>
            </div>
            
        </div>
    </div>