<div class="container deleteModal">

  <div class="row">
    <div class="col-12">
      <p class="closeY">&#10006</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 id="deleteHeader">would you like to delete this book?</h3>
      <button id="deleteConfirm">delete</button>
    </div>
  </div>
</div>