<div class="container queryModal">

  <div class="row">
    <div class="col-12">
      <p class="closeY">&#10006</p>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h3 id="bookDetails-title"></h3>
      <h3 id="bookDetails-author"></h3>
      <img src="" id="booksDetails-img">
      <h3 id="bookDetails-publish"></h3>
    </div>
    <div class="col-6">
      <h3 id="bookDetails-availTitle">available to borrow near you</h3>
      <div id="availableUsers"></div>
    </div>
  </div>
</div>