<div class="searchPage container">
  <div class="row">
    <div class="col-12 pageHead">
      <h1>View All Books</h1>
    </div>
  </div>
    <div class="searchModalDisplay">
    {{>querymodal-block}}
  </div>

  <div class="row pageBody">
    {{#each books}}
    <div class="col-3 searchResultCard" data-id="{{this.isbn}}">
      <img src="http://covers.openlibrary.org/b/isbn/{{this.isbn}}.jpg" class="img-fluid searchImage">
      <h2 class="searchTitle">{{this.title}}</h2>
    </div>
    {{/each}}
  </div>

  <div class="searchModalDisplay">
    {{>querymodal-block}}
  </div>
</div>

