<div class="container" id="login-form">

  <section class="row">
    <div class="col-md-7 col-left login">
      <div class="form-group">
        <h3 id="logtitle">Login</h3>
        <form class="login20">
          <label for="Inputusername">Username</label>
          <input type="username" class="form-control" id="username-input" style="width: 300px;" placeholder="Username">
          <label for="InputPassword">Password</label>
          <input type="password" class="form-control" id="password-input" style="width: 300px; " placeholder="Password">
          <div>
            <br>
            <button type="submit" id="login-submit">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-5 col-right">
      <div class="form-group">
        <h3>Sign Up!</h3>
        <form class="signup">
          <label for="InputEmail">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Enter your email">
          <label for="InputZip">Zip Code</label>
          <input type="zipcode" class="form-control" id="zip-input" placeholder="Enter your zip code">
          <label for="InputUsername">Username</label>
          <input type="username" class="form-control" id="user-input" placeholder="Enter a username">
          <label for="InputPassword">Password</label>
          <input type="password" class="form-control" id="pass-input" placeholder="Enter a password">
          <div>
            <br>
            <button type="submit" id="signup-submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
    
  </section>
  </div>
</div>


 