<div class="container">

  <section class="row">
    <div class="col-md-8 col-left">
      <div class="form-group">
        <h3>Login</h3>
        <form class="login">
          <label for="InputEmail">Username</label>
          <input type="email" class="form-control" id="email-input" style="width: 300px;" placeholder="Username">
          <label for="exampleInputPassword">Password</label>
          <input type="password" class="form-control" id="password-input" style="width: 300px;" placeholder="Password">
          <div>
            <button type="submit" style="background-color: #b0e0ec;">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-4 col-right">
      <div class="form-group">
        <h3>Sign Up!</h3>
        <form class="signup">
          <label for="InputEmail">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Enter your email">
          <label for="InpuUsername">Username</label>
          <input type="email" class="form-control" id="username-input" placeholder="Enter a username">
          <label for="InputPassword">Password</label>
          <input type="email" class="form-control" id="password-input" placeholder="Enter a password">
          <div>
            <button type="submit" style="background-color: #b0e0ec;">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>