<div class="searchResults container">
  <h1>Search Results</h1>

    <div class="row">
    <div class="col-3">
      <img src="http://covers.openlibrary.org/b/isbn/9780393609394.jpg" class="img-fluid">
      <h2 class="title">Astrophysics for people in a hurry</h2>
    </div>


  {{!-- <div class="row">
    {{#each Books}}
    <div class="col-3">
      <img src="http://covers.openlibrary.org/b/isbn/{{Books.isbn}}.jpg" class="img-fluid">
      <h2 class="title">{{Books.title}}</h2>
    {{/each}}
    </div> --}}



  </div>
</div>