<div class="searchResults container">
  <h1>Search Results</h1>

  <div class="row">
    {{#each books}}
    <div class="col-3">
      <img src="http://covers.openlibrary.org/b/isbn/{{this.isbn}}.jpg" class="img-fluid">
      <h2 class="title">{{this.title}}</h2>
    </div>
    {{/each}}

</div>