.title-div {
    padding-top: 10vh;   /* padding-left: 240px; */
    background-position: center center;
}
#nameLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-bottom: 1%;
}
.bookImgs{
    size: 100%
}

#bookshelf_container {

    border: 5vh solid #987554;
    border-top: 7vh solid #987554;
    border-bottom: none;
    border-image:url("../images/wood.jpg") 50 50 stretch;
    margin: auto;
    width: 75%;
    position: relative;
 
    text-align: center;
    background-color: #664229;

     -webkit-box-shadow: 
     0px 10px 30px 20px #000, 
     inset 0 0 10px #000;
    -moz-box-shadow: 
     0px 0px 30px 20px #000, 
     inset 0 0 10px #000;
    -o-box-shadow: 
     0px 0px 30px 20px #000, 
     inset 0 0 10px #000;
    box-shadow: 
     0px 0px 20px #888888, 
     inset 0 0 px  #361a00;
}


.titlebtnbox{
    color:  #987554;
    background-image: linear-gradient(#130000, #664229);
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 10px 0px 20px;
    font-size: 3vw;
    background-position: center center;
    
    width:100%;
}


.carousel {

    border-bottom: 30px solid #987554;;
	-webkit-box-shadow: 0 8px 6px -6px  #361a00;
	-moz-box-shadow: 0 8px 6px -6px  #361a00;
    box-shadow: 0 8px 6px -6px  #361a00;
    border-image:url("../images/wood.jpg") 50 50 stretch;
    border: 15px solid transperant;

}

img {
    width: 100%;
    size: auto;
}

.d-block {
    box-shadow: 0px 0px 5px 5px  #361a00;
}
.carousel-item  {
    padding:1%;
}



@media only screen and (max-width: 768px){

#nameLogo{
    width: 30%;
}
.bookImgs{
    size: 50%
}
#bookshelf_container {
    width: 100%;
    border: 4vh solid #987554;
    border-bottom: none;
    border-image:url("../images/wood.jpg") 50 50 stretch;

}

}

@media only screen and (max-width: 575px){
.bookImgs{
    size: 70%;
}

}
@media only screen and (max-width: 375px){
    .bookImgs{
        size: 50%;
    }
    
    }
    
    