/* USER PROFILE DATA */

#body-background {

    background-image: url(../images/black-brick.jpg);
    padding-top: 25px;

  }

#bookcase {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-top: 20px solid rgb(150,118,79);
    border-left: 10px solid rgb(150,118,79);
    border-right: 10px solid rgb(150,118,79);
    border-bottom: 20px solid rgb(150,118,79);
    background-color: rgb(105,68,39);
    margin:auto;

}

#profileHeaderBlock {
    color: white;
    background-color: rgba(0,0,0,0.45);
    box-shadow: inset 0 3px 1px rgba(0,0,0,0.16), 0 4px 1px rgba(0,0,0,0.45);
}
#profileHeader {
    font-size: 36px;
    text-align: center;
    margin:10px;
}

#userInfo {
    color: white;
    margin:10px;
    padding:10px;
}

#userName {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 20px;
}

#userLocation {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}

#bioHeadline {
    font-size: 24px;
    margin-left: 50px;
}

#userBio {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#favGenreHeadline {
    font-size: 24px;
    margin-left: 50px;
}

.faveGenreButtons {
    margin-left: 50px;
}

.genreButton {
    margin:10px;
    padding: 5px;
    color: black;
    font-weight: 700px;
    color: white;
    background-color: rgb(153,136,136);
    cursor: pointer;
}

.profilePic {
    display:block;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);
    border-radius: 300px 300px 300px 300px;
    border: 10px solid rgb(150,120,80);
    object-fit: cover;
    width:250px;
    height:250px;
    margin-left: auto;
}


/* BOOK SECTIONS DATA */

#profileBookSection {
    color:white;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

#booksToLoanHeadline {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

#booksBorrowedHeadline {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.addButton {
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: rgb(153,136,136);
    cursor: pointer;
}

.bookCover {
    width:175px;
    padding: 20px;
}

/* .bookshelfRow {
    
    border-bottom: 10px solid rgb(150,118,79);
    margin:10px;
    padding:10px;
} */

.booksToLoan {
    border-top: 10px solid rgb(150,118,79);
    margin-right: 20px;
    box-shadow: inset 0 4px 5px rgba(0,0,0,0.45);
}

.booksBorrowed {
    border-top: 10px solid rgb(150,118,79);
    border-bottom: 10px solid rgb(150,118,79);
    box-shadow: inset 0 4px 5px rgba(0,0,0,0.45);
    margin-right: 20px;
}

#bookshelf_container {
    
    border: 30px solid #987554;
    border-bottom: none;
    border-top: 50px solid #987554;
    margin: auto;
    margin-top: 10px;
    /* padding: 40px; */
    /* padding-top: 20px; */

    width: 72%;
    position: relative;
 
    text-align: center;
    background-color: #664229;

     -webkit-box-shadow: 
     0px 10px 30px 20px #000, 
     inset 0 0 10px #000;
    -moz-box-shadow: 
     0px 0px 30px 20px #000, 
     inset 0 0 10px #000;
    -o-box-shadow: 
     0px 0px 30px 20px #000, 
     inset 0 0 10px #000;
    box-shadow: 
     0px 0px 20px #888888, 
     inset 0 0 px  #361a00;

     border-image:url("../images/wood.jpg") 50 50 stretch;
     border: 15px solid transperant;
}

.text {
    color:  #987554;
    background-image: linear-gradient(#130000, #664229);
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 10px 0px 20px;
    text-align: left;


}

#pre {
    justify-content: left;
}

.carousel {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 30px solid #987554;;
	-webkit-box-shadow: 0 8px 6px -6px  #361a00;
	-moz-box-shadow: 0 8px 6px -6px  #361a00;
    box-shadow: 0 8px 6px -6px  #361a00;
    border-image:url("../images/wood.jpg") 50 50 stretch;
    border: 15px solid transperant;

}

img {

}

.d-block {
    box-shadow: 0px 0px 5px 5px  #361a00;
}

.title-div {
    padding-top: 60px;
    padding-left: 240px;
}


.searchBtn {
  background-color: #473335;
  color: white;
}

.searchBtn:hover {
  background-color: #47333585;
  color: white;
}

nav {
  background-color: #998888 !important;
}



.navSection {
  background-color: #998888;
  font-family: 'Gentium Book Basic', serif;
  border-radius: 5px;
}

.mainHead{
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  font-weight: 700;
  font-size: 50px;
  padding: 25px;
  border-radius: 5px;
}




/* ADD BOOK MODAL SECTION */

/* USER INPUT SECTION */

#add-book-area {
    background-color: whitesmoke;
    height: 500px;
    margin-top: 80px;
    margin-left: 400px;
    border-radius: 25px;
}

#isbn-title {
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Comfortaa', cursive; 
}

#isbn-val {
    margin-top: 5px;
    width: 300px;
    font-family: 'Comfortaa', cursive;    
    margin-left: 30px;
}

#isbn-submit {
    font-family: 'Comfortaa', cursive;    
    margin-left: 30px;
    margin-top: 14px;
    border-radius: 25px;
    border-style: none;
    background: #5B7B7A;
    color: whitesmoke;
    height: 30px;
    width: 100px;
}

/* AJAX OUTPUT SECTION */


#ajax-img {
    margin-top: 40px;
    margin-left: 30px;
    width: 190px;
    height: 270px;
    display: none;
}

.ajax-info {
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Comfortaa', cursive; 
}

#add-book {
    margin-top: 50px;
    margin-left: 110px;
    height: 30px;
    width: 200px;
    border-style: none;
    background: #5B7B7A;
    color: whitesmoke;
    border-radius: 25px;
    display: none;
}




