/* BODY ///////////////////////////////////////////////////////////////////////////////////////*/

* {
    font-family: 'Poiret One', cursive;
}

body{
    background-color: #DEDEDE;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* PROFILE PAGE */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Profile: Info Row Block */
#userInfo {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Profile: Username Entry Display */
#userName {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 20px;
}

/* Profile: Bio Headline "About Me" */
#bioHeadline {
    padding: 20px;
    font-size: 36px;
    /* margin-left: -150px; */
}

/* Profile: Bio Entry Display */
#userBio {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    border: 5px black dotted;
    padding: 10px;
}

.pencilBtn {
    margin-top: 30%;
    margin-left: 85%;
}

/* Profile: Location Entry Display */
#userLocation {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}

/* Profile: Image Display */
.profilePic {
    display:block;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.16), 0px 0px 5px rgba(0,0,0,0.45);
    border-radius: 300px 300px 300px 300px;
    border: 5px#6a6866 solid;
    object-fit: cover;
    width:300px;
    height:300px;
    margin: 25px;

}


/* PROFILE BOOK SECTIONS DATA */

/* Profile: Book Section Row Block */
#profileBookSection {
    color:white;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

.textRowText {
    color:  #987554;
    background-image: linear-gradient(#130000, #664229);
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 10px 0px 20px;
    text-align: left;
    font-size: 150%;
}

/* Profile: Books Owned Headline */
#booksToLoanHeadline {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

/* Profile: Books Borrowed Headline */
#booksBorrowedHeadline {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

#profileLeftArrow {
    margin-left: -60%;
    margin-top: -100%;
}

#profileRightArrow {
    margin-right: -60%;
    margin-top: -100%;
}

/* .carousel-control-prev{
    padding-top: 35vh;
    margin-right: 2vh;
}
.carousel-control-next{
    padding-top: 35vh;
    margin-left: 2vh;
} */

/* Profile: Add Owned Book Button - Connected to Javascript */
.addButton {
    margin-top: 0px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height: 30px;
    width: 100px;
    border-style: none;
    background: #5B7B7A;
    color: whitesmoke;
    /* border-radius */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    /* border-radius: 25px;
    box-shadow: 5px; */
}

/* Profile: Add Owned Book Button - Connected to Javascript */
.bookCover {
    width:110%;
    padding: 0px;
    box-shadow: 5px 5px 5px 5px  #361a00;
}

/* .d-block {
    box-shadow: 0px 0px 5px 5px  #361a00;
    width: 110%;
} */

/* Profile: Books Owned Design Elements */
.booksToLoan {
    border-top: 10px solid rgb(150,118,79);
    margin-right: 20px;
    box-shadow: inset 0 4px 5px rgba(0,0,0,0.45);
}

/* Profile: Books Borrowed Design Elements */
.booksBorrowed {
    border-top: 10px solid rgb(150,118,79);
    border-bottom: 10px solid rgb(150,118,79);
    box-shadow: inset 0 4px 5px rgba(0,0,0,0.45);
    margin-right: 20px;
}

/* ////////////////////// */
/* PROFILE MODAL ELEMENTS */

.closeX {
    text-align: right;
    color:rgb(91,123,122);
    font-size: 18px;;
    font-family: 'Lucida Sans Unicode';
    margin-top: -5px;
    margin-right: -5px;
    cursor: pointer;
}

/* Profile Modal: Turns Modal On and Off from Javascript and Overlays it Over Content */
#modalDisplay {
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* Profile Modal: Formats the Modal's shape, size and background */
#profileModalFormat {
    background-color: rgb(245,245,245,0.9);
    height: 100%;
    width: 500px;
    border-radius: 25px;
    padding:30px;
}

/* Profile: Modal: Resizes Image */
#addImgFormat {
    width:100px;
    height:auto;
    margin-top: 20px;
    margin-left: 50px;
    /* display: none; */
}

.unavailable {
    display:none;
    color:red;
    text-align:left;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    margin-top: -25px;
}

.ajax-info {
    margin-top: 25px;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#ajax-title {
    display:block;
}

#ajax-author {
    display:block;
}

#ajax-year {
    display:block;
}

/* .moduleVisibility {
    color: black;
    opacity: 1;
} */

#isbn-title {
    margin-top: 0px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif; 
}

#isbn-val {
    margin-top: 10px;
    width: 300px;
    font-family: 'Poppins', sans-serif;    
    margin-left: 30px;
}

#userId {
    display:none;
}

/* #confirm {
    position:absolute;
} */

#isbn-submit {
    font-family: 'Poppins', sans-serif;    
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 25px;
    border-style: none;
    background: #5B7B7A;
    color: whitesmoke;
    height: 30px;
    width: 100px;
}


#confirm-button {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height: 30px;
    width: 100px;
    border-style: none;
    background: #5B7B7A;
    color: whitesmoke;
    border-radius: 25px;
    display: none;
} 



/* #add-book-area {
    background-color: whitesmoke;
    height: 500px;
    margin-top: 80px;
    margin-left: 400px;
    border-radius: 25px;

    #isbn-title {
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Comfortaa', cursive; 
}



#isbn-submit {
    font-family: 'Comfortaa', cursive;    
    margin-left: 30px;
    margin-top: 14px;
    border-radius: 25px;
    border-style: none;
    background: #5B7B7A;
    color: whitesmoke;
    height: 30px;
    width: 100px;
}
} */

/*/////////////////////////////////////////// NAVIGATION CSS////////////////////////////////// */


#titleLogo{
    width: 50%;
    height: auto;
    padding-bottom: 1%;

}

.searchBtn {
  background-color: #473335;
  color: white;
}

.searchBtn:hover {
  background-color: #47333585;
  color: white;
}

nav {
  background-color:#aaa9a8 !important;
  
  
}
/* white lettering on nav bar if we want it */
.nav-link {
    color: white !important;


}

#logout {
    display: none;
}


.navSection {
  background-color: #959392;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  margin-bottom: 2%;
  height: 20%;
  width: auto;
  
  /* color: #FFFFFF !important;; */
}


.mainHead{
  text-align: center;
  font-family:'Mukta', sans-serif;;
  font-weight: 700;
  font-size: 50px;
  padding-top:2%;
  border-radius: 5px;
}

.nav-link{
    font-family:'Mukta', sans-serif;;
}



/* ADD BOOK MODAL SECTION */

/* USER INPUT SECTION */

#add-book-area {
    background-color: whitesmoke;
    height: 500px;
    margin-top: 80px;
    margin-left: 400px;
    border-radius: 25px;
}

/* #isbn-title {
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Comfortaa', cursive; 
} */

/* #isbn-val {
    margin-top: 5px;
    width: 300px;
    font-family: 'Comfortaa', cursive;    
    margin-left: 30px;
} */



/* AJAX OUTPUT SECTION */

/* #ajax-img {
    margin-top: 40px;
    margin-left: 30px;
    width: 190px;
    height: 270px;
    display: none;
} */

/* .ajax-info {
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Comfortaa', cursive; 
} */

/* #add-book {
    margin-top: 50px;
    margin-left: 110px;
    height: 30px;
    width: 200px;
    border-style: none;
    background: #5B7B7A;
    color: whitesmoke;
    border-radius: 25px;
    display: none;
} */


footer {
    /* position: absolute; */
    margin: auto;
    padding: 20px;
    text-align: center;
    bottom: 0;
}

/*/////////////////////////////////// SEARCH BOOKS ////////////////////////////////////////////////////////////
/* Searhc Results CSS */
.pageHead {
    background-image: url("../images/antique.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span.searchQuery {
    font-style: italic;
}

h3.searchQuery {
    font-size: 12px;
}

img.searchImage {
    height: auto;
    width: auto;
}

.searchTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px
}

.pageBody {
    margin: 0 auto;
    background-image: url("../images/antique.JPG");
    /* background-repeat: no-repeat; */
    background-size: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileBody {
    padding: 50px;
}

.searchResultCard {
    margin: 45px;
    text-align: center;
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchModalDisplay {
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
}

.queryModal {
    background-color: rgb(245,245,245,0.9);
    height: 100%;
    width: 500px;
    border-radius: 25px;
    padding:30px;
}

.closeY {
    text-align: right;
    color:rgb(91,123,122);
    font-size: 18px;;
    font-family: 'Lucida Sans Unicode';
    margin-top: -5px;
    margin-right: -5px;
    cursor: pointer;
}

#availableButton {
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height: 30px;
    width: 100px;
    border-style: none;
    background: #5B7B7A;
    color: whitesmoke;
    border-radius: 25px;
}

.availableUsername{
    font-size: 12px;
}

.availableZipcode{
    font-size: 12px;
}

#booksDetails-img{
    height: 200px;
    width: auto;
}

#bookDetails-title{
    font-size: 22px;
}

#bookDetails-author{
    font-size: 14px;
}

#bookDetails-publish{
    font-size: 14px;
}

#bookDetails-availTitle{
    font-size: 22px;
    border-bottom: 8px black solid
}

/* Login page */

.login {
    /* object-fit: cover; */
    width: 100%;  
    padding-left: 60px;
    padding-right: 35px;
    

} 

#login-submit, #signup-submit{
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height: 30px;
    width: 100px;
    border-style: none;
    background: #5B7B7A;
    color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-group {
    margin-top: 18px;
    border-radius: 25px;
    padding-right: 65px;
    
}

#login-form {
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/antique.JPG");
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*////////////////////////////////////////////////////// STYLING FOR HOMEPAGE//////////////////////////////////////////// */

.title-div {
    padding-top: 10vh;   /* padding-left: 240px; */
    background-position: center center;
}


.bookself {
    border: 4vh solid #987554;

    border-bottom: none;
    border-image:url("../images/wood.jpg") 50 50 stretch;
    margin: 50px auto;
    width: 85%;
    position: relative;
 
    text-align: center;
    background-color: #664229;

     -webkit-box-shadow: 
     0px 10px 30px 20px #000, 
     inset 0 0 10px #000;
    -moz-box-shadow: 
     0px 0px 30px 20px #000, 
     inset 0 0 10px #000;
    -o-box-shadow: 
     0px 0px 30px 20px #000, 
     inset 0 0 10px #000;
    box-shadow: 
     0px 0px 20px #888888, 
     inset 0 0 px  #361a00;
}

.carouseltit {
    font-size: 100%

}

.titlebtnbox{
    color:  #987554;
    background-image: linear-gradient(#130000, #664229);
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 10px 0px 20px;
    font-family:'Mukta', sans-serif;;
    font-size: 3vw;
    background-position: center center;
    width:100%;
}

.carousel{
    box-sizing: content-box;
    border-bottom: 30px solid #987554;;
    padding-left: 4%;
    padding-right: 4%;
	-webkit-box-shadow: 0 8px 6px -6px  #361a00;
	-moz-box-shadow: 0 8px 6px -6px  #361a00;
    box-shadow: 0 8px 6px -6px  #361a00;
    border-image:url("../images/wood.jpg") 50 50 stretch;
    border: 15px solid transperant;

}

.carouseltit{
    font-size: 50%;
    padding-right: 90%;
}


.d-block {
    box-shadow: 0px 0px 5px 5px  #361a00;
    width: 100%;
    padding-bottom: 2%;
    height: auto;
    display: block;
}

.carousel-control-prev{
    padding-top: 25%;
    margin-right: 2vh;
}
.carousel-control-next{
    padding-top: 25%;
    margin-left: 2vh;
}

/* ////////////////////////////////////////// Responsive ///////////////////////////////////////////////// */

@media only screen and (max-width: 1300px){

nav{
    display: inline;
}

#tilteLogo{
    display: none;
}
      
.carousel{
    border-bottom: 20px solid #987554;;
}

.d-block {
    box-shadow: 0px 0px 5px 5px  #361a00;
    width:120%;
}
.carousel-inner{
    padding-right: 3vh;
}
.bookself{
    border: 2vh solid #987554;

    border-bottom: none;
    border-image:url("../images/wood.jpg") 50 50 stretch;
}

#userInfo{
    width: 100%
}

.profilePic{
    width: 200px;
    height: 200px;
}

.userBio{
    margin-top: 0px;
}

.pencilBtn{
    margin-top: 45%;
    margin-left: 80%
}

.searchResultCard{
    width: 100%;
    margin: 4%;
}

img.searchImage{
    height: auto;
    width: auto;
}

}


@media only screen and (max-width: 767px){
#titleLogo{
    height:50%;
}
.d-block{
    width: 140%;
}
.carousel-inner{
    padding-right: 3vh;
}

.searchResultCard{
    width: 100%;
    margin: 6%;
}

img.searchImage{
    height: auto;
    width: auto;
}

}




@media only screen and (max-width: 575px){
#titleLogo{
    height:70%;
}
.carouseltit {
    font-size: 100%;
}
#bookshelf_container {
    width: 100%;
    border: 2vh solid #987554;
    border-bottom: none;
    border-image:url("../images/wood.jpg") 50 50 stretch;
}
.d-block{
    width:100%;
    height:auto;
}
.carousel-control-prev{
    padding-top: 500vh;
    margin-right: 2vh;
}
.carousel-control-next{
    padding-top: 25%;
    margin-left: 2vh;
}

#userInfo{
    width: 100%
}

#userBio{
    margin: 30px;
}

.profilePic{
    margin: 15px auto;
    width: 200px;
    height: 200px;
}

#bioHeadline{
   padding: 0px;
}

.pencilBtn{
    margin-top: 50%;
    margin-left: 75%;
}

/* search results and view all books*/

.searchResultCard{
    width: 100%;
    margin: 9%;
}

.pageBody{
    margin: 0px;
}

.searchModalDisplay{
    width: 50px;
    left: 0%
}

img.searchImage{
    height: auto;
    width: auto;
}

}

    
